name: Run AI Tests

on:
  push:
    branches: [main,master]

jobs:
  ai-tests:
    uses: Tejas4560/improved-testgen/.github/workflows/ai-test-pipeline-v2.yml@T1
    with:
      min_coverage: '80'
      delta_threshold: '5'
      deploy_pages: true
    secrets:
      AZURE_OPENAI_API_KEY: ${{ secrets.AZURE_OPENAI_API_KEY }}
      AZURE_OPENAI_ENDPOINT: ${{ secrets.AZURE_OPENAI_ENDPOINT }}
      AZURE_OPENAI_DEPLOYMENT: ${{ secrets.AZURE_OPENAI_DEPLOYMENT }}
